body{
	background: url(a-white_texture-1454516.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Garamond";

}

body{
	color: 45484c;
	padding-top: 60px;
    	padding-right: 50px;
   	padding-bottom: 60px;
    	padding-left: 50px;
}

form{
	text-align: center;
	font-family: "Garamond";
}
